.load-more {
    margin-bottom: 40px;
    background: #3550a2;
    color: #dce1f1;
    overflow: hidden;
    margin-left: calc(100% / 2 - 48px);
  }
  
  .load-more:hover,
  .load-more:focus {
    background: #1a2649;
    scale: 1.2;
  }
  
  .load-more:disabled {
    background: #7a7b7f;
  }
  
  .is-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
  }